body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  aspect-ratio: var(--aspect-ratio);
  background-color: pink;
  transform: translate(-50%, -50%);
  width: 100vw;
}

@media (min-aspect-ratio: var(--aspect-ratio)) {
  .wrapper {
    width: auto;
    height: 100vh;
  }
}

.slide {
  background-color: #fff;
  width: 100%;
  aspect-ratio: var(--aspect-ratio);

  h1 {
    font-size: 2rem;
  }

  :global(.fragment) {
    opacity: 0;
  }

  :global(.fragment.visible) {
    opacity: 1;
  }

  aside {
    display: none;
  }
}
